resources:
- manifests.yaml
- service.yaml

configurations:
- kustomizeconfig.yaml

patches:
  - path: patch-webhook-namespace-selector.yaml
    target:
      group: admissionregistration.k8s.io
      version: v1
      kind: MutatingWebhookConfiguration
      name: mutating-webhook-configuration