apiVersion: v1
kind: Secret
metadata:
  name: additional-scrape-configs
  namespace: monitoring
stringData:
  configs.yaml: |
    # for node exporter on external nodes
    - job_name: 'istiod'
      kubernetes_sd_configs:
        - role: endpoints
      relabel_configs:
        - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_namespace]
          action: keep
          regex: istiod;istio-system
        - source_labels: [__meta_kubernetes_endpoint_port_name]
          action: keep
          regex: http-monitoring
      metrics_path: /metrics
      scheme: http
      scrape_interval: 7s

    - job_name: 'envoy-stats'
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_container_port_name]
          action: keep
          regex: '.*-envoy-prom'
      metrics_path: /stats/prometheus
      scheme: http
      scrape_interval: 7s

    - job_name: 'icmp_ping'
      metrics_path: /probe
      params:
        module: [icmp_ping]
      static_configs:
        - targets:
          - 54.210.43.118
          - 35.196.13.85
          - 142.1.174.180
      relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: blackbox-prometheus-blackbox-exporter.monitoring:9115