nodeExporter:
  enabled: true

kubeApiServer:
  enabled: true

kubelet:
  enabled: true

kubeProxy:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false

coreDns:
  enabled: false

kubeControllerManager:
  enabled: false

alertmanager:
  enabled: false

grafana:
  enabled: false
  adminUser: admin
  adminPassword: admin
  service:
    type: LoadBalancer

prometheus:
  service:
    type: LoadBalancer

  prometheusSpec:
    scrapeInterval: "5s"
    
    serviceMonitorNamespaceSelector: {}

    serviceMonitorSelector: {}

    podMonitorSelector: {}

    podMonitorNamespaceSelector: {}

    volumes: []

    volumeMounts: []

    additionalScrapeConfigs: []
    
    # cannot be used with additionalScrapeConfigs above
    additionalScrapeConfigsSecret:
      enabled: true
      name: additional-scrape-configs
      key: configs.yaml
