---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: deploymentpolicies.policy.skycluster.io
spec:
  group: policy.skycluster.io
  names:
    kind: DeploymentPolicy
    listKind: DeploymentPolicyList
    plural: deploymentpolicies
    singular: deploymentpolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The sync status of the DeploymentPolicy
      jsonPath: .status.conditions[?(@.type=='Synced')].status
      name: Synced
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DeploymentPolicy is the Schema for the deploymentpolicies API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DeploymentPolicySpec defines the desired state of DeploymentPolicy.
            properties:
              deploymentPolicies:
                items:
                  properties:
                    componentRef:
                      description: |-
                        ComponentRef is the reference to the component, for a Kubernetes application
                        this could be a reference to a Deployment.
                      properties:
                        apiVersion:
                          type: string
                        kind:
                          type: string
                        name:
                          type: string
                        namespace:
                          type: string
                        spec:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                      type: object
                    locationConstraint:
                      description: LocationConstraint is the location constraint for
                        the component
                      properties:
                        permitted:
                          description: Permitted specifies locations that are allowed
                            (OR logic).
                          items:
                            properties:
                              configName:
                                type: string
                              name:
                                type: string
                              platform:
                                type: string
                              region:
                                type: string
                              regionAlias:
                                type: string
                              type:
                                type: string
                              zone:
                                type: string
                            type: object
                          type: array
                        required:
                          description: Required specifies location sets that must
                            be satisfied (AND logic).
                          items:
                            description: LocationCondition represents a group of alternative
                              location rules (OR logic).
                            properties:
                              anyOf:
                                items:
                                  properties:
                                    configName:
                                      type: string
                                    name:
                                      type: string
                                    platform:
                                      type: string
                                    region:
                                      type: string
                                    regionAlias:
                                      type: string
                                    type:
                                      type: string
                                    zone:
                                      type: string
                                  type: object
                                type: array
                            type: object
                          type: array
                      type: object
                    performanceConstraint:
                      description: PerformanceConstraint is the performance constraint
                        for the component
                      properties:
                        customMetrics:
                          items:
                            properties:
                              endpoint:
                                description: Endpoint is the endpoint of the custom
                                  metric
                                type: string
                              name:
                                description: Name is the name of the custom metric
                                type: string
                            required:
                            - endpoint
                            - name
                            type: object
                          type: array
                        responseTime:
                          type: string
                      type: object
                    virtualServiceConstraint:
                      description: |-
                        VirtualServiceConstraint is the virtual service constraint for the component
                        For VirtualMachine execution environment, ComputeProfile mist be specified,
                        for Kubernetes execution environment, you can specify ComputeProfile for
                        underlying compute resources.
                      items:
                        properties:
                          anyOf:
                            items:
                              properties:
                                apiVersion:
                                  description: |-
                                    APIVersion defines the versioned schema of this representation of an object.
                                    Servers should convert recognized schemas to the latest internal value, and
                                    may reject unrecognized values.
                                    More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                                  type: string
                                count:
                                  default: 1
                                  type: integer
                                kind:
                                  description: |-
                                    Kind is a string value representing the REST resource this object represents.
                                    Servers may infer this from the endpoint the client submits requests to.
                                    Cannot be updated.
                                    In CamelCase.
                                    More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                                  enum:
                                  - ComputeProfile
                                  type: string
                                name:
                                  description: Name specifies the name of virtual
                                    service, if applicable
                                  type: string
                                spec:
                                  description: |-
                                    Spec specifies the spec of virtual service in yaml/json format, if applicable.
                                    The spec structure is according to the kind of virtual service.
                                  type: object
                                  x-kubernetes-preserve-unknown-fields: true
                              type: object
                            type: array
                        required:
                        - anyOf
                        type: object
                      type: array
                  required:
                  - componentRef
                  type: object
                type: array
              executionEnvironment:
                description: ExecutionEnvironment specifies the execution environment
                  for the deployment policy
                enum:
                - Kubernetes
                - VirtualMachine
                type: string
            required:
            - deploymentPolicies
            type: object
          status:
            description: DeploymentPolicyStatus defines the observed state of DeploymentPolicy.
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
